<link rel="stylesheet" href="../Content/css/styles.css" media="screen" title="no title" charset="utf-8">
<h2>@Model["restaurant"].GetName()</h2>
<p>
  <img src='@Model["restaurant"].GetImage()' />
</p>
<ul>
  @foreach (var review in @Model["reviews"])
  {
  <li>

   <span class = "stars"><img src="../Content/img/@review.GetStar()star.jpg" alt="" /></span>-- @review.GetComment()</li>
  }
</ul>
<a href="/restaurants">Back To Restaurant</a>
<a href="/">Return home</a>
